langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-groq==0.3.6
langchain-openai==0.2.10
python-dotenv==1.1.1
structlog
docx2txt==0.9
pypdf
ipykernel==6.30.0
python-multipart==0.0.20
faiss-cpu
fastapi==0.115.6
uvicorn==0.32.1
Jinja2==3.1.4
langsmith
openai
pandas
sentence-transformers>=2.2.2